<div class='container-fluid root-container' >
        <app-nav-bar (sideNavClosed)="changeSideNavState($event)"></app-nav-bar>
        <div>
            <nav-menu (sideNavClosed)="changeSideNavState($event)" *ngIf="isNavOpen"></nav-menu>
        </div>
        <div class='col-xs-12 body-content' >
            <router-outlet></router-outlet>
        </div>
    <br /><br />
    <div class="footer-content">
        <app-footer></app-footer>
    </div>
  
</div>

<!--[ngStyle]="{'background-image': 'url(~/static/images/banner.jpg);'}"-->
