*{
    margin: 0px 0px 0px 0px;
    color: rgb(153, 154, 156);
}
body{
    height: 100%;
}

a:hover {
    color: #4196ea !important;
    text-decoration: none;
}
p {
    color: lightslategrey;
}
.highligher {
    color: #4196ea;
}
body {
    background-color: rgb(41, 41, 41);
}
.my-brand-alex {
    font-size: 30px;
    color: #4196ea !important;
    font-family: 'Pacifico', cursive;
    cursor: pointer;
}
.my-brand-alex:hover {
    color: aliceblue !important;
}

